@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-600: #F5EBDC;
    --white-500: #FFFFFF;
    --red-600: #EE323B;
    --black-300: #2E2E2E;
}

html, body {
    font: 1.1rem Poppins, sans-serif;
    color: var(--black-300);
    height: 100vh;
}

button {
    cursor: pointer;
    outline: 0;
    border: 0;
}

a {
    text-decoration:  none;
}

/*** HEADER ***/